body{
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 50vw;
    margin: 0 auto;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}



.graphics{
    display: flex;
    height: 100vh;
    width: 400px;
    position: relative;

}

.photo-bg{
    background-image: url('bg.jpg');
    background-position: center;
    height: 100vh;
    flex-basis: 1;
}

.logo{
    font-size: xxx-large;
}

.banner{
    text-align: center;
    color: black;
    width: 400px;
    background: rgba(0, 0, 0, 0.25);
}

#credit{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    font-size: .65rem;
    text-align: center;
}

.photo-cred{
    width: auto;
    align-items: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid;
}

.info-card{
    height: 33%;
    display: flex;
    padding: 50px;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    font-style: italic;
}

form{
    background-color: azure;
    width: 600px;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
}

.form-title{
    display: flex;
    text-align: center;;
    border: solid;
    
}

.input-parent{
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;
}

input{
    width: 200px;
    margin: 0 25px 10px;
    border: solid;
}

input :userinvalid{
    border: solid red;
}

input:focus-visible{
    appearance: none;
    border: solid blue;
}

.finalize{
    display: flex;
    height: 33%;
    flex-direction: row;
    padding-left: 25px;
    justify-content: space-between;
}

input[type='submit']{
    width: 100px;
    height: 3rem;
}

.sign-in-msg{
    margin: 0 75px;
}